.titlebar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: padding-box;
	
	* { box-sizing: inherit; }
	
	&::after {
		content: ' ';
		display: table;
		clear: both;
	}
	
	&.draggable {
		-webkit-app-region: drag;
		
		.titlebar-minimize,
		.titlebar-maximize,
		.titlebar-close {
			-webkit-app-region: no-drag;
		}
	}
	
	.titlebar-controls::after {
		content: ' ';
		display: table;
		clear: both;
	}
	
	
	&.tb-mac {
		padding: 0 3px;
		
		&:not(.transparent) { background-color: #e5e5e5; }
		&.unfocused:not(.transparent) { background-color: #f6f6f6; }

		.titlebar-controls {
			float: left;
			text-align: left;

			&:hover {
				svg {
					opacity: 1 !important;
				}
			}
		}

		&.alt {
			svg.fullscreen-svg {
				display: none;
			}

			svg.maximize-svg {
				display: block !important;
			}
		}
		
		&.fullscreen {
			svg.fullscreen-svg {
				display: none;
			}

			svg.exit-fullscreen-svg {
				display: block !important;
			}
		}

		.titlebar-close,
		.titlebar-minimize,
		.titlebar-maximize {
			float: left;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			margin: 6px 4px;
			line-height: 0;
		}

		.titlebar-close {
			border: 1px solid #e94343;
			background-color: #ff5d5b;
			margin-left: 6px;

			&:active {
				border-color: #b43737;
				background-color: #c64845;
			}

			svg {
				width: 6px;
				height: 6px;
				margin-top: 2px;
				margin-left: 2px;
				opacity: 0;
			}
		}

		.titlebar-minimize {
			border: 1px solid #e5a03a;
			background-color: #ffbc45;

			&:active {
				border-color: #b07b2e;
				background-color: #c38e34;
			}

			svg {
				width: 8px;
				height: 8px;
				margin-top: 1px;
				margin-left: 1px;
				opacity: 0;
			}
		}

		.titlebar-maximize {
			border: 1px solid #13ad3e;
			background-color: #00c94f;
			
			&:active {
				border-color: #138532;
				background-color: #009a3c;
			}

			svg.fullscreen-svg {
				width: 6px;
				height: 6px;
				margin-top: 2px;
				margin-left: 2px;
				opacity: 0;
			}
			
			svg.exit-fullscreen-svg {
				width: 10px;
				height: 10px;
				margin-top: 0;
				margin-left: 0;
				opacity: 0;
				display: none;
			}
			
			svg.maximize-svg {
				width: 8px;
				height: 8px;
				margin-top: 1px;
				margin-left: 1px;
				opacity: 0;
				display: none;
			}
		}

		&.unfocused .titlebar-controls:not(:hover) > * {
			background-color: #dcdcdc;
			border-color: #d1d1d1;
		}
	}
	
	
	&.tb-win {
		//display: block;
		//height: 30px;
		padding: 0;
		
		&:not(.transparent) { background-color: #fff; }
		
		/*&.fullscreen {
			height: 22px;
		}*/
		
		&.unfocused .titlebar-controls:not(:hover) svg {
			opacity: 60%;
		}

		.titlebar-controls {
			float: right;
			text-align: left;
		}

		.titlebar-minimize,
		.titlebar-maximize,
		.titlebar-close {
			float: left;
			width: 45px;
			height: 29px;
			margin: 0 0 1px 1px;
			text-align: center;
			line-height: 29px;

			-webkit-transition: background-color .2s;
			-moz-transition: background-color .2s;
			-ms-transition: background-color .2s;
			-o-transition: background-color .2s;
			transition: background-color .2s;
			
			svg {
				width: 10px;
				height: 10px;
			}
		}
		
		.titlebar-close svg polygon {
			-webkit-transition: fill .2s;
			-moz-transition: fill .2s;
			-ms-transition: fill .2s;
			-o-transition: fill .2s;
			transition: fill .2s;
		}
		
		&.fullscreen {
			.titlebar-minimize,
			.titlebar-maximize,
			.titlebar-close {
				height: 21px;
				line-height: 21px;
			}
		}

		&:not(.fullscreen) .titlebar-maximize svg.unmaximize-svg { display: none; }
		&.fullscreen .titlebar-maximize svg.maximize-svg { display: none; }

		.titlebar-minimize:hover,
		.titlebar-maximize:hover {
			background-color: #E5E5E5;
		}
		.titlebar-close:hover {
			background-color: #E81123;
			
			svg polygon {
				fill: #fff;
			}
		}
	}
}
