/* line 1, style.scss */
.windowbar {
  display: flex;
  box-sizing: padding-box;
}
/* line 5, style.scss */
.windowbar * {
  box-sizing: inherit;
}
/* line 7, style.scss */
.windowbar::after {
  content: ' ';
  display: table;
  clear: both;
}
/* line 13, style.scss */
.windowbar.draggable {
  -webkit-app-region: drag;
}
/* line 16, style.scss */
.windowbar.draggable .windowbar-minimize,
.windowbar.draggable .windowbar-maximize,
.windowbar.draggable .windowbar-close {
  -webkit-app-region: no-drag;
}
/* line 23, style.scss */
.windowbar .windowbar-controls::after {
  content: ' ';
  display: table;
  clear: both;
}
/* line 30, style.scss */
.windowbar.wb-mac {
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
}
/* line 35, style.scss */
.windowbar.wb-mac:not(.transparent) {
  background-color: #e5e5e5;
}
/* line 36, style.scss */
.windowbar.wb-mac.unfocused:not(.transparent) {
  background-color: #f6f6f6;
}
/* line 40, style.scss */
.windowbar.wb-mac .windowbar-controls:hover svg {
  opacity: 1 !important;
}
/* line 47, style.scss */
.windowbar.wb-mac.alt svg.fullscreen-svg {
  display: none;
}
/* line 51, style.scss */
.windowbar.wb-mac.alt svg.maximize-svg {
  display: block !important;
}
/* line 57, style.scss */
.windowbar.wb-mac.fullscreen svg.fullscreen-svg {
  display: none;
}
/* line 61, style.scss */
.windowbar.wb-mac.fullscreen svg.exit-fullscreen-svg {
  display: block !important;
}
/* line 66, style.scss */
.windowbar.wb-mac .windowbar-close,
.windowbar.wb-mac .windowbar-minimize,
.windowbar.wb-mac .windowbar-maximize {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px 4px;
  line-height: 0;
}
/* line 77, style.scss */
.windowbar.wb-mac .windowbar-close {
  border: 1px solid #e94343;
  background-color: #ff5d5b;
  margin-left: 6px;
}
/* line 82, style.scss */
.windowbar.wb-mac .windowbar-close:active {
  border-color: #b43737;
  background-color: #c64845;
}
/* line 87, style.scss */
.windowbar.wb-mac .windowbar-close svg {
  width: 6px;
  height: 6px;
  margin-top: 2px;
  margin-left: 2px;
  opacity: 0;
}
/* line 96, style.scss */
.windowbar.wb-mac .windowbar-minimize {
  border: 1px solid #e5a03a;
  background-color: #ffbc45;
}
/* line 100, style.scss */
.windowbar.wb-mac .windowbar-minimize:active {
  border-color: #b07b2e;
  background-color: #c38e34;
}
/* line 105, style.scss */
.windowbar.wb-mac .windowbar-minimize svg {
  width: 8px;
  height: 8px;
  margin-top: 1px;
  margin-left: 1px;
  opacity: 0;
}
/* line 114, style.scss */
.windowbar.wb-mac .windowbar-maximize {
  border: 1px solid #13ad3e;
  background-color: #00c94f;
}
/* line 118, style.scss */
.windowbar.wb-mac .windowbar-maximize:active {
  border-color: #138532;
  background-color: #009a3c;
}
/* line 123, style.scss */
.windowbar.wb-mac .windowbar-maximize svg.fullscreen-svg {
  width: 6px;
  height: 6px;
  margin-top: 2px;
  margin-left: 2px;
  opacity: 0;
}
/* line 131, style.scss */
.windowbar.wb-mac .windowbar-maximize svg.exit-fullscreen-svg {
  width: 10px;
  height: 10px;
  margin-top: 0;
  margin-left: 0;
  opacity: 0;
  display: none;
}
/* line 140, style.scss */
.windowbar.wb-mac .windowbar-maximize svg.maximize-svg {
  width: 8px;
  height: 8px;
  margin-top: 1px;
  margin-left: 1px;
  opacity: 0;
  display: none;
}
/* line 150, style.scss */
.windowbar.wb-mac.unfocused .windowbar-controls:not(:hover) > * {
  background-color: #dcdcdc;
  border-color: #d1d1d1;
}
/* line 157, style.scss */
.windowbar.wb-win {
  justify-content: flex-end;
  padding: 0;
}
/* line 161, style.scss */
.windowbar.wb-win:not(.transparent) {
  background-color: #fff;
}
/* line 163, style.scss */
.windowbar.wb-win.unfocused .windowbar-controls:not(:hover) svg {
  opacity: 60%;
}
/* line 167, style.scss */
.windowbar.wb-win .windowbar-minimize,
.windowbar.wb-win .windowbar-maximize,
.windowbar.wb-win .windowbar-close {
  float: left;
  width: 45px;
  height: 29px;
  margin: 0 0 1px 1px;
  text-align: center;
  line-height: 29px;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -ms-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}
/* line 183, style.scss */
.windowbar.wb-win .windowbar-minimize svg,
.windowbar.wb-win .windowbar-maximize svg,
.windowbar.wb-win .windowbar-close svg {
  width: 10px;
  height: 10px;
}
/* line 189, style.scss */
.windowbar.wb-win .windowbar-close svg polygon {
  -webkit-transition: fill .2s;
  -moz-transition: fill .2s;
  -ms-transition: fill .2s;
  -o-transition: fill .2s;
  transition: fill .2s;
}
/* line 198, style.scss */
.windowbar.wb-win.fullscreen .windowbar-minimize,
.windowbar.wb-win.fullscreen .windowbar-maximize,
.windowbar.wb-win.fullscreen .windowbar-close {
  height: 21px;
  line-height: 21px;
}
/* line 206, style.scss */
.windowbar.wb-win:not(.fullscreen) .windowbar-maximize svg.unmaximize-svg {
  display: none;
}
/* line 207, style.scss */
.windowbar.wb-win.fullscreen .windowbar-maximize svg.maximize-svg {
  display: none;
}
/* line 209, style.scss */
.windowbar.wb-win .windowbar-minimize:hover,
.windowbar.wb-win .windowbar-maximize:hover {
  background-color: #E5E5E5;
}
/* line 213, style.scss */
.windowbar.wb-win .windowbar-close:hover {
  background-color: #E81123;
}
/* line 216, style.scss */
.windowbar.wb-win .windowbar-close:hover svg polygon {
  fill: #fff;
}
