/* line 1, style.scss */
.titlebar {
  display: block;
  box-sizing: padding-box;
}
/* line 5, style.scss */
.titlebar * {
  box-sizing: inherit;
}
/* line 7, style.scss */
.titlebar::after {
  content: ' ';
  display: table;
  clear: both;
}
/* line 13, style.scss */
.titlebar.draggable {
  -webkit-app-region: drag;
}
/* line 16, style.scss */
.titlebar.draggable .titlebar-minimize,
.titlebar.draggable .titlebar-maximize,
.titlebar.draggable .titlebar-close {
  -webkit-app-region: no-drag;
}
/* line 23, style.scss */
.titlebar .titlebar-controls::after {
  content: ' ';
  display: table;
  clear: both;
}
/* line 30, style.scss */
.titlebar.tb-mac {
  padding: 0 3px;
}
/* line 33, style.scss */
.titlebar.tb-mac:not(.transparent) {
  background-color: #e5e5e5;
}
/* line 34, style.scss */
.titlebar.tb-mac.unfocused:not(.transparent) {
  background-color: #f6f6f6;
}
/* line 36, style.scss */
.titlebar.tb-mac .titlebar-controls {
  float: left;
  text-align: left;
}
/* line 41, style.scss */
.titlebar.tb-mac .titlebar-controls:hover svg {
  opacity: 1 !important;
}
/* line 48, style.scss */
.titlebar.tb-mac.alt svg.fullscreen-svg {
  display: none;
}
/* line 52, style.scss */
.titlebar.tb-mac.alt svg.maximize-svg {
  display: block !important;
}
/* line 58, style.scss */
.titlebar.tb-mac.fullscreen svg.fullscreen-svg {
  display: none;
}
/* line 62, style.scss */
.titlebar.tb-mac.fullscreen svg.exit-fullscreen-svg {
  display: block !important;
}
/* line 67, style.scss */
.titlebar.tb-mac .titlebar-close,
.titlebar.tb-mac .titlebar-minimize,
.titlebar.tb-mac .titlebar-maximize {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px 4px;
  line-height: 0;
}
/* line 78, style.scss */
.titlebar.tb-mac .titlebar-close {
  border: 1px solid #e94343;
  background-color: #ff5d5b;
  margin-left: 6px;
}
/* line 83, style.scss */
.titlebar.tb-mac .titlebar-close:active {
  border-color: #b43737;
  background-color: #c64845;
}
/* line 88, style.scss */
.titlebar.tb-mac .titlebar-close svg {
  width: 6px;
  height: 6px;
  margin-top: 2px;
  margin-left: 2px;
  opacity: 0;
}
/* line 97, style.scss */
.titlebar.tb-mac .titlebar-minimize {
  border: 1px solid #e5a03a;
  background-color: #ffbc45;
}
/* line 101, style.scss */
.titlebar.tb-mac .titlebar-minimize:active {
  border-color: #b07b2e;
  background-color: #c38e34;
}
/* line 106, style.scss */
.titlebar.tb-mac .titlebar-minimize svg {
  width: 8px;
  height: 8px;
  margin-top: 1px;
  margin-left: 1px;
  opacity: 0;
}
/* line 115, style.scss */
.titlebar.tb-mac .titlebar-maximize {
  border: 1px solid #13ad3e;
  background-color: #00c94f;
}
/* line 119, style.scss */
.titlebar.tb-mac .titlebar-maximize:active {
  border-color: #138532;
  background-color: #009a3c;
}
/* line 124, style.scss */
.titlebar.tb-mac .titlebar-maximize svg.fullscreen-svg {
  width: 6px;
  height: 6px;
  margin-top: 2px;
  margin-left: 2px;
  opacity: 0;
}
/* line 132, style.scss */
.titlebar.tb-mac .titlebar-maximize svg.exit-fullscreen-svg {
  width: 8px;
  height: 8px;
  margin-top: 1px;
  margin-left: 1px;
  opacity: 0;
  display: none;
}
/* line 141, style.scss */
.titlebar.tb-mac .titlebar-maximize svg.maximize-svg {
  width: 8px;
  height: 8px;
  margin-top: 1px;
  margin-left: 1px;
  opacity: 0;
  display: none;
}
/* line 151, style.scss */
.titlebar.tb-mac.unfocused .titlebar-controls:not(:hover) > * {
  background-color: #dcdcdc;
  border-color: #d1d1d1;
}
/* line 158, style.scss */
.titlebar.tb-win {
  padding: 0;
  /*&.fullscreen {
  	height: 22px;
  }*/
}
/* line 163, style.scss */
.titlebar.tb-win:not(.transparent) {
  background-color: #fff;
}
/* line 169, style.scss */
.titlebar.tb-win.unfocused .titlebar-controls:not(:hover) svg {
  opacity: 60%;
}
/* line 173, style.scss */
.titlebar.tb-win .titlebar-controls {
  float: right;
  text-align: left;
}
/* line 178, style.scss */
.titlebar.tb-win .titlebar-minimize,
.titlebar.tb-win .titlebar-maximize,
.titlebar.tb-win .titlebar-close {
  float: left;
  width: 45px;
  height: 29px;
  margin: 0 0 1px 1px;
  text-align: center;
  line-height: 29px;
  -webkit-transition: background-color .2s;
  -moz-transition: background-color .2s;
  -ms-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s;
}
/* line 194, style.scss */
.titlebar.tb-win .titlebar-minimize svg,
.titlebar.tb-win .titlebar-maximize svg,
.titlebar.tb-win .titlebar-close svg {
  width: 10px;
  height: 10px;
}
/* line 200, style.scss */
.titlebar.tb-win .titlebar-close svg polygon {
  -webkit-transition: fill .2s;
  -moz-transition: fill .2s;
  -ms-transition: fill .2s;
  -o-transition: fill .2s;
  transition: fill .2s;
}
/* line 209, style.scss */
.titlebar.tb-win.fullscreen .titlebar-minimize,
.titlebar.tb-win.fullscreen .titlebar-maximize,
.titlebar.tb-win.fullscreen .titlebar-close {
  height: 21px;
  line-height: 21px;
}
/* line 217, style.scss */
.titlebar.tb-win:not(.fullscreen) .titlebar-maximize svg.unmaximize-svg {
  display: none;
}
/* line 218, style.scss */
.titlebar.tb-win.fullscreen .titlebar-maximize svg.maximize-svg {
  display: none;
}
/* line 220, style.scss */
.titlebar.tb-win .titlebar-minimize:hover,
.titlebar.tb-win .titlebar-maximize:hover {
  background-color: #E5E5E5;
}
/* line 224, style.scss */
.titlebar.tb-win .titlebar-close:hover {
  background-color: #E81123;
}
/* line 227, style.scss */
.titlebar.tb-win .titlebar-close:hover svg polygon {
  fill: #fff;
}
